<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ block "title" . }}
  {{ .Site.Title }}
{{ end }}</title>

<link href="https://fonts.googleapis.com/css?family=Cinzel:700|Open+Sans|Source+Serif+Pro:700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/style.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.11.0/d3.min.js" integrity="sha256-j1Aj4cWdqKW14YC7Hav1HCCdvLGSAkP/wF5HBUc7nf0=" crossorigin="anonymous"></script>

