body {
  font-family: 'Merriweather', serif;
  /* font-family: 'Open Sans', sans-serif; */
  color: #666;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: #000;
}

h1, h2 {
  font-size: 1.25rem;
}

#header-section {
  padding: 0em;
}

#mobile-navigation {
  border-bottom: 1px solid #ccc;
}

#mobile-navigation .navbar-brand .navbar-burger {
  margin-left: 0em;
  position: absolute;
}

#logo {
  margin: 0em auto;
  position: relative;
}

#logo {
  color: #000;
  font-family: 'Cinzel', serif;
  font-size: 1.25em;
}

#main-section {
  padding: 0em;
}

.content-box-list > .columns {
  padding: 12px 2.25em;  
}

.content-box-list > .columns > .column {
  border-bottom: #ccc solid 1px;
  padding: 0.5em 0em 1em 0em;
  font-size: 0.75em;
}

.content-box-list > .columns > .column h2 {
  margin-bottom: 0.5em;
}
