{{ define "main" }}
  <section class="section" id="header-section">
    <div class="container is-widescreen">
      <nav class="navbar" id="mobile-navigation">
        <div class="navbar-brand">
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
          <a class="navbar-item" id="logo"><h1>{{ .Site.Title }}</h1></a>
        </div>
      </nav>
    </div>
  </section>
  <section class="section" id="main-section">
    <div class="container is-widescreen">
      <div class="columns">
        <!-- Ranges through content/posts/*.md -->
        {{ range first 10 .Pages }}
        <div class="column content-box-list">
          <img src="https://static01.nyt.com/images/2019/08/22/us/22ransomware-02/22ransomware-02-threeByTwoLargeAt2X.jpg?quality=75&auto=webp&disable=upscale&width=1620" />
          <div class="columns">
            <div class="column has-text-justified">
              <a href="{{.Permalink}}"><h2>{{.Title}}</h2></a>
              {{ .Summary }}
            </div>
          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </section>

{{ end }}
